.wrapper {
	width: 100%;
	position: relative;
	text-align: left;
	background-color: GhostWhite;
	font-family: Arial, Helvetica, sans-serif;	
}

/*TABLE CODING*/

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-spacing: 5px;
/*    border-collapse: collapse;
*/    width: 100%;
}

table#wednesday {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-spacing: 5px;
	width: 100%;

}

td, th {
	border-radius: 10px;
	border-color: none;
    text-align: left;
    padding: 12px;
    min-width: 60px;
}

#nocolor {
		background-color: #f7f7ff;
}

#wedSpeak {
	background-color: #b1a5f3;
}

#wedKey {
	background-color: #ffb34d;
}

#wedVid {
	background-color: #ff3300;
}

#wedScreen {
	background-color: #92ff86;
}

#wedBreak {
	background-color: #ffff9c;
}

tr:nth-child(2) {
    background-color: #c9c8c9;
}

tr:nth-child(3) {
    background-color: #bce2dc;
}

tr:nth-child(4) {
    background-color: #ffb34d;
}

tr:nth-child(5) {
    background-color: #b1a5f3;
}

tr:nth-child(6) {
    background-color: #b1a5f3;
}

tr:nth-child(7) {
    background-color: #ffff9c;
}

tr:nth-child(8) {
    background-color: #b1a5f3;
}

tr:nth-child(9) {
    background-color: #b1a5f3;
}

tr:nth-child(10) {
    background-color: #ffff9c;
}

tr:nth-child(11) {
    background-color: #ff3300;
}

tr:nth-child(12) {
    background-color: #b1a5f3;
}

tr:nth-child(13) {
    background-color: #b1a5f3;
}

tr:nth-child(14) {
    background-color: #b1a5f3;
}

tr:nth-child(15) {
    background-color: #ffff9c;
}

tr:nth-child(16) {
    background-color: #b1a5f3;
}

tr:nth-child(17) {
    background-color: #ffff9c;
}

tr:nth-child(18) {
    background-color: #92ff86;
}

tr:nth-child(19) {
    background-color: #ffff9c;
}

tr:nth-child(20) {
    background-color: #92ff86;
}

/*PAGE STYLES*/

ul {
	font-size: 14px;
}

header {
	clear: both;
	max-width: 1900px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

img {
	width: 100%;
	height: auto;
	border: 0px;
	text-align: center;
	margin-bottom: 5px;
}

img#logo {
	max-width: 125px;
	    margin: 10px auto 20px;
    display: block;
}

img#CVMmobile {
	max-width: 200px;
	margin-top: 10px;
	margin-bottom: 0px;
}

p {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 12px;
}

p#credit {
	font-size: 8px;
	text-align: right;
	margin-top: -1px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
    color: purple;
}

h1 {
	font-size: 32px;
	text-align: center;
}

h2#center, h3#center, h4#center {
	text-align: center;
}

h3, h4, h5 {
	margin-top: 0px;
	margin-bottom: 5px;
}

h5, h6 {
	margin-bottom: -5px;
}

h6 {
	margin-top: 10px;
}

nav {
	padding: 0px;
	width: 100%;
	float: right;
}

nav ul#menu {
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav ul#menu li {
	display: block;
	float: left;
	text-align: center;
	position: relative;
	padding: 5px;
}

footer {
	clear: both;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

#footContainer {
	width: 100%;
	border-top: 1px solid black;
}

#footContainer p {
	font-size: 10px;
	text-align: left;
}

#footContainer h6 {
	font-size: 11px;
	margin-top: -15px;
}

/*#footContainer img {
	width: 100%;
	margin: 10px 10px 0px 0px;
	vertical-align: middle;
}*/

#headContainer {
	width: 100%;
	border-bottom: 2px solid black;
}

#topLogo {
	padding: 0px;
	width: 100%;
	float: left;
}

#section {
	font-size: 24px;
}

#mainContainer {
	width: 100%;
	margin: 0px;
}

/*#mainContainer img {
	width: 100%;
	max-width: 500px;
	height: auto;
	vertical-align: middle;
	text-align: center;
}*/

#mainContent {
	clear: both;
	max-width: 1200 px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

#secondContainer {
	border-top: 1px solid black;
	width: 100%;
	margin: 0px;
}

/*#secondContainer img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}*/

#secondContent {
	clear: both;
	max-width: 1200 px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

#thirdContainer {
	border-top: 1px solid black;
	width: 100%;
	margin: 0px;
}

#thirdContainer a {
	font-size: 12px;
}

#thirdContainer img { 
	max-width: 300px;
    margin: 0px auto 5px;
    float: left;
}

#thirdContent {
	clear: both;
	max-width: 1200 px;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.push {
    visibility: hidden;
}

/*  RESPONSIVE GRID FOR MOBILE  */
@media only screen and (max-width: 480px)
{
	.push {
	    display: none;
	}
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }

	h1 {font-size: 25px;
		margin-bottom: 0px;
		text-align: center;}
	h2 {font-size: 20px;
		text-align: left;}
	h3, h4, h5, h6 {margin-top: 5px;}
	h4#ruled {border-top: 1px; border-right: 0px; border-left: 0px; border-bottom: 0px;
		    border-collapse: separate;
    		border-spacing: 15px;
			border-style: solid;
			border-color: black;
	}

	a { font-size: 12px;}

	#thirdContainer img { 
	max-width: 375px;
    margin: 10px auto 20px;
    float: left;
	 }

}

