/*TABLE CODING*/
table {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
border-spacing: 5px;
/*    border-collapse: collapse;
*/    width: 100%;
}
table#wednesday {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
border-spacing: 5px;
width: 100%;
}
td, th {
/*	border-radius: 10px;*/
border-color: none;
text-align: left;
padding: 12px;
min-width: 60px;
}
#nocolor {
background-color: #f7f7ff;
border-radius: 0px;
}
#wedSpeak {
background-color: #b1a5f3;
}
#wedKey {
background-color: #ffb34d;
}
#wedVid {
background-color: #ff9980;
}
#wedScreen {
background-color: #92ff86;
}
#wedBreak {
background-color: #ffff9c;
}
#thurPanel {
background-color: #66ccff;
}
#reception {
background-color: #ffcc00;
}
mark.red {
color:#ff0000;
background: none;
}
mark.green {
color:#92ff86;
background: none;
}
mark.orange {
color:#ffb34d;
background: none;
}
tr:nth-child(2) {
background-color: plum;
}
tr:nth-child(3) {
background-color: #bce2dc;
}
tr:nth-child(4) {
background-color: #ffb34d;
}
tr:nth-child(5) {
background-color: #b1a5f3;
}
tr:nth-child(6) {
background-color: #b1a5f3;
}
tr:nth-child(7) {
background-color: #b1a5f3;
}
tr:nth-child(8) {
background-color: #ffff9c;
}
tr:nth-child(9) {
background-color: #ff9980;
}
tr:nth-child(10) {
background-color: #b1a5f3;
}
tr:nth-child(11) {
background-color: #b1a5f3;
}
tr:nth-child(12) {
background-color: #b1a5f3;
}
tr:nth-child(13) {
background-color: #ffff9c;
}
tr:nth-child(14) {
background-color: #b1a5f3;
}
tr:nth-child(15) {
background-color: #80bfff;
}
tr:nth-child(16) {
background-color: #ff9980;
}
tr:nth-child(17) {
background-color: #ffff9c;
}
tr:nth-child(18) {
background-color: #92ff86;
}
tr:nth-child(19) {
background-color: #92ff86;
}
tr:nth-child(20) {
background-color: #ffff9c;
}
tr:nth-child(21) {
background-color: #92ff86;
}